h1 {
  color: white;
  background-color: #008000;
  border: 5px solid darkgreen;
  border-radius: 15px;
  heigth: 60%;
}
img{
  border: 1px solid black;
  border-radius: 15px;
}
h3 {
  border: 5px solid darkgoldenrod;
  border-radius: 10px;
  background-color: #ffa600;
  heigth: 25px;
}
