h1 {
  color: white;
  background-color: green;
  border: 7px solid darkgreen;
  border-radius: 15px;
  heigth: 70%;
}
img{
  border: 1px solid black;
  border-radius: 15px;
}
h3 {
  border: 5px solid darkgoldenrod;
  border-radius: 10px;
  background-color: orange;
  heigth: 25px;
}
